html, html[theme="light"] {
  --paper-render-text-color: #3E5C6B;
  --paper-bold-text-color: #00293D;
  --gallery-show-text-color: #3E5C6B;
  --theme-text-color: #3E5C6B;

  --gallery-posters-title-color: #0087A8;
  --gallery-tag-bg-color: #E3F9FF;
  --comment-preview-bg-color: #FAFAFA;
  --card-title-color: #0087A8;

  --primary: #FF9A57;
  --header-bg-color: #FF9A57;
  --course-bg-color: #F0FCFF;
  --card-bg-color: #F0FCFF;

  --fab-bg-color: #FFFFFFAA;
  --fab-shadow: 0 0 11px #CCCCCC;

  --home-card-bg-color: #B4F0FF;
}

html[theme="dark"] {
  --paper-render-text-color: #7EA6B9;
  --paper-bold-text-color: #8DC7E3;
  --gallery-show-text-color: #7EA6B9;
  --theme-text-color: #7EA6B9;

  --gallery-posters-title-color: #37B9D9;
  --gallery-tag-bg-color: #044A5E;
  --comment-preview-bg-color: #ffffff1a;
  --card-title-color: #37B9D9;

  --primary: #E88341;
  --header-bg-color: #E88341;
  --course-bg-color: #0C191C;
  --card-bg-color: #0C191C;

  --fab-bg-color: #333333AA;
  --fab-shadow: 0 0 11px #000000;

  --home-card-bg-color: #B4F0FF;
}