@keyframes fadeInRight {
  0% {
    transform: translateX(40%);
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

@keyframes fadeInLeft {
  0% {
    transform: translateX(-40%);
    opacity: 0
  }

  100% {
    opacity: 1
  }
}

.slide-fade-left-enter-active {
  animation: fadeInLeft 0.267s;
}

.slide-fade-left-leave-active {
  animation: unset;
}

.slide-fade-right-enter-active {
  animation: fadeInRight 0.267s
}

.slide-fade-right-leave-active {
  animation: unset;
}